.contact-page {
    padding: 4rem 0;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contact-content {
    width: 70%;
    min-height: 50vh;

    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 5px;
    justify-content: center;
    height: 100%;
}

.contact-info {
    background-color: rgb(104, 180, 174);
    color: white;
    padding: 4vw 5vw;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 5px;
}
.contact-info h2 {
    text-shadow: 2px 2px black;
    font-size: 3vw;
    margin: 0;
}

.contact-info p {
    font-size: 0.9vw;
    margin: 0;
    color: black;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info div button {
    width: 50%;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 0.5vw;
    padding: 0.4vw 0.9vw;
    cursor: pointer;
    transition: background-color 0.2s linear;
    font-size: 0.8vw;
}

.contact-info span {
    font-size: 1vw;
}

.contact-info div button:hover {
    background-color: rgb(232, 208, 248);
}

.details {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 25%;
    width: 100%;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-bc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-page img {
    border-top-right-radius: 5px;
    background-color: black;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: background-color 0.5s linear, opacity 0.5s linear;
}
.form-wrapper form {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}

.form textarea {
    resize: none;
}

.form input,
.form textarea {
    outline: none;
    margin-bottom: 1vw;
    width: 100%;
    display: block;
    padding: 0.5vw;
    border-radius: 5px;
    border: 1px solid black;
    height: 2vw;
    font-size: 0.75vw;
}

.form label {
    margin: 0;
    margin-bottom: 0.25vw;
    font-weight: normal;
    font-size: 0.75vw;
    display: block;
}

.form textarea {
    height: 3vw;
    padding: 0.5vw;
}

.form-wrapper.show-form {
    opacity: 1;
    z-index: 2;
}

.form button {
    outline: none;
    width: 100%;
    padding: 0.5vw 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 0.75vw;
    transition: background-color 0.2s linear;
}

.form button:hover {
    background-color: rgb(232, 208, 248);
}

@media screen and (max-width: 900px) {
    .contact-content {
        width: 80%;
    }

    .contact-header {
        flex-direction: column;
    }

    .contact-info,
    .img-wrapper {
        width: 100% !important;
        height: 40vw;
    }
}
